<form (ngSubmit)="addTask(); form.reset()" #form="ngForm">
  <div>
    <label for="create[name]">Nom</label>
    <input id="create[name]" name="name" [(ngModel)]="newTask.name"
           #inputName="ngModel" required pattern="[a-zA-Z0-9_ -]*">
    <p class="error" [hidden]="inputName.valid || inputName.untouched">Vous ne pouvez utiliser que des lettres, des chiffres et espaces</p>
  </div>
  <div>
    <label for="create[deadLine]">Échéance</label>
    <input type="date" id="create[deadLine]" name="deadLine" [(ngModel)]="newTask.deadLine">
  </div>
  <div>
    <label for="create[status]">Statut</label>
    <select id="create[status]" name="status" [(ngModel)]="newTask.status">
      <option value="Todo">À faire</option>
      <option value="Doing">En cours</option>
      <option value="Done">Fait</option>
    </select>
  </div>
  <button [disabled]="form.invalid">Encore du travail ?<img src="assets/Peasant.gif" alt="Peasant"></button>
</form>

<div>
  {{ newTask | json }}
</div>
