@import '../sass/variables';

header {
  background: $brandColor;
  color: $invertedTextColor;
  padding: 1em;

  h1 {
    margin: 0;
  }
}

nav {
  ul {
    list-style-type: none;
    padding: 0 4ch;
    margin: 0;
    display: flex;
    background: $secondaryColor;

    a {
      text-decoration: none;
      display: block;
      padding: .5em;
      color: $textColor;

      &:hover {
        background: orange;
      }
    }
  }
}
