@import '../../sass/variables';

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    $padding-left: 1em;
    $highlightBorder: .25em;
    padding: $padding-left;
    box-sizing: border-box;
    background: $secondaryColor;
    cursor: pointer;

    &:hover {
      border-left: $highlightBorder solid $highlightedColor;
      padding-left: $padding-left - $highlightBorder;
    }
  }

}
